* {
   box-sizing: border-box;
}

.item {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   font-family: "Open Sans";
   transition: .3s ease-in;
}

.item:hover {
   border-bottom: 2px solid #fc5a5a;
}

.item img {
   display: block;
   width: 100%;
}

.item-info {
   background: #D5D5D5;
   padding: 15px 0;
}

.item-info h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}

.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: grey;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}

.button2 {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: purple;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}

.button2:hover {
   background: red;
}

.item:hover .button {
   background: #fc5a5a;
}

.item:hover .button2 {
   background: #fc5a5a;
}

.content {
   display: grid;
   gap: 18px;
   grid-template-columns: repeat(4, 1fr);
   padding-top: 25px;
   padding-bottom: 26px;
}

.center {
    display: flex;
    justify-content: center;
    text-align:center;
}

.info {
    display: flex;
    justify-content: center;
    text-align:center;
}

.properties {
   font-size: 16px;
   color: blue;
   text color: blue;
   display: block;
   margin-bottom: 12px;
}
