<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Инфо</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<h1 class="center">Карточка персонажа</h1>

<div class="info">
        <div class="item">
            <img th:src="${character.image}" alt="Изображение отсутствует"/>
            <div class="item-info">
                <h3 th:text="${character.name}"></h3>
                <p class="properties" th:text="${character.id}"></p>
                <p class="properties" th:text="${character.status}"></p>
                <p class="properties" th:text="${character.species}"></p>
                <p class="properties" th:text="${character.gender}"></p>
                <p class="properties" th:text="${character.url}"></p>
                <p class="properties" th:text="${character.created}"></p>
                <a href="javascript:history.back()" class="button">Вернуться</a>
            </div>
        </div>
</div>

</body>
</html>